#logoID{
    margin-left: -240px;
    margin-top: 18px;
}

#phoneID {
    width: 150px;
    height: auto;
    margin-left: 750px;
    margin-top: -200px;
}

#introID{
    height: 500px;
}

#sloganID{
    margin-top: -100px;
}